@charset "UTF-8";

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 
common 
*/
html {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 0;
}

a {
  font-size: 0.85rem;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.right {
  width: 60%;
}

.left {
  width: 35%;
}

.readmore {
  display: inline-block;
  margin-top: 16px;
  border-bottom: 1px solid black;
}

.readmore:hover {
  border-bottom: none;
}

.main .article a:hover {
  border-bottom: none;
}

.content {
  display: flex;
  gap: 32px;
}

.content .left h3 {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.content .left p {
  font-size: 0.8rem;
  line-height: 1.5;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.header h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .nav {
  width: 100%;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 6px;
}

.header ul {
  display: flex;
  color: white;
  line-height: 1.3;
}

.header ul li {
  margin-right: 50px;
}

.head-area {
  padding-top: 130px;
}

.head-area .main-pic {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* main */
.main {
  display: flex;
  gap: 16px;
  text-align: center;
  margin-bottom: 80px;
}

.main .article p {
  margin-top: 16px;
  text-align: left;
}

/* content */
.content h2 a {
  font-size: 18px;
  font-weight: bolder;
  display: block;
  margin-bottom: 16px;
}

.content .info {
  display: flex;
  margin-bottom: 12px;
}

.content .info p {
  margin-left: 20px;
}

.content .img {
  margin-bottom: 16px;
}

.content .text {
  padding: 0 20px 10px;
  line-height: 1.7;
  font-size: 0.9rem;
}

.content .box {
  text-align: center;
  margin-bottom: 64px;
}

.content .box h2,
.content .box .text {
  text-align: left;
}

/* content-left */
.content .left {
  flex-direction: column;
}

.content .left .profile {
  text-align: center;
}

.content .left .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.content .left .profile p {
  text-align: left;
  margin-bottom: 60px;
}

/* ranking */
.ranking img {
  margin-bottom: 6px;
}

.ranking p {
  margin-bottom: 30px;
}

/* archive */
.archive ul {
  margin-bottom: 150px;
}

.archive ul li {
  border-top: 1px solid black;
  padding: 20px;
}

.archive ul li:last-child {
  border-bottom: 1px solid black;
}

/* footer */
footer {
  background: #eee;
}

footer .wrapper {
  width: 1200px;
  max-width: 100%;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .about,
footer .menu,
footer .twitter {
  width: calc(100% / 3);
}

footer h3 {
  margin-bottom: 50px;
  font-weight: bold;
}

footer p {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: .9rem;
}

/* footer-about */
footer .about a {
  display: block;
  margin-bottom: 8px;
  font-size: .9rem;
  line-height: 1.5;
}

footer .about a:before {
  content: "▶ ";
}

footer .twitter {
  transform: scaleX(.9);
}

footer .twitter h3 {
  transform: scaleX(1);
}

/* footer-menu */
footer .menu ul li {
  border-top: 1px solid black;
  padding: 20px;
  font-size: .9rem;
}

footer .menu ul li:last-child {
  border-bottom: 1px solid black;
}

footer .menu ul li a {
  font-size: 1rem;
}

/* footer-copy */
footer .copy {
  display: block;
  text-align: center;
  padding-bottom: 32px;
  font-size: .64rem;
}

/* sp */
@media (max-width: 768px) {

  body {
    /* background: pink; */
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  a {
    font-size: 1.2rem;
  }

  .content .right,
  .content .left {
    width: 100%;
  }

  .content .left p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  /* header */
  .header {
    margin-top: 0;
  }

  .header h1 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header h1 img {
    width: 200px;
  }

  .header .nav {
    overflow-x: auto;
  }

  .header .nav ul {
    justify-content: space-between;
    line-height: 2.2;
    width: max-content;
    margin-left: 0;
  }

  .header ul li {
    text-align: right;
  }

  .head-area .main-pic {
    height: 320px;
  }

  /* main */
  .main {
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 120px;
  }

  .main .article p {
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 1.7;
  }

  .main .article a {
    margin-bottom: 32px;
  }

  /* content */
  .content {
    flex-direction: column;
  }

  .content h2 a {
    font-size: 2.3rem;
    margin-bottom: 32px;
    line-height: 1.5;
  }

  .content .info {
    margin-bottom: 16px;
  }

  .content .text {
    padding: 0 8% 32px;
    font-size: 1.2rem;
  }

  .content .box a {
    margin-bottom: 32px;
  }

  /* content-left */
  .content .left .profile img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }

  /* ranking */
  .content .left .ranking {
    margin-bottom: 120px;
  }

  .content .left .ranking p {
    margin-top: 10px;
    margin-bottom: 80px;
  }

  /* archive */
  .archive ul {
    margin-bottom: 200px;
  }

  .archive ul li {
    padding: 40px;
  }

  /* footer */
  footer .wrapper {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  footer h3 {
    margin-bottom: 32px;
  }

  footer .about,
  footer .menu,
  footer .twitter {
    width: 100%;
    margin-bottom: 40px;
  }

  footer .about p,
  footer .about a {
    font-size: 1rem;
  }

  footer .twitter {
    transform: scaleX(1);
    width: 100%;
  }

  footer .copy {
    font-size: 0.8rem;
    display: block;
    padding-bottom: 16px;
  }
}